@model IEnumerable<LuanVan.Data.Noihotro>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    h1 {
        font-family: Arial, sans-serif;
        font-size: 24px;
    }

    /* Thiết lập màu nền và khoảng cách cho thẻ p */
    p {
        background-color: #f2f2f2;
        padding: 10px;
    }

    /* Thiết lập kiểu cho bảng */
    .table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
    }

        /* Thiết lập màu nền và kiểu cho tiêu đề bảng */
        .table thead {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        /* Thiết lập màu nền và kiểu cho từng hàng trong bảng */
        .table tr {
            background-color: #ffffff;
        }

    .table-heading {
        text-align: center;
    }
    /* Thiết lập kiểu cho các ô trong bảng */
    .table td, .table th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    /* Thiết lập kiểu cho các liên kết */
    a {
        color: #337ab7;
        text-decoration: none;
    }

        /* Thiết lập kiểu cho liên kết khi rê chuột vào */
        a:hover {
            text-decoration: underline;
        }

    .btn {
        align-items: center;
        margin: 5px;
    }
</style>
<h1>Danh sách đề xuất hỗ trợ</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Địa chỉ
            </th>
            <th>
               Tình trạng
            </th>
            <th>
               Cần hỗ trợ
            </th>
            <th>
               Trạng thái
            </th>
            <th>
                Hình ảnh
            </th>
            
            <th>
                Người đề xuất
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tinhtrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Canhotro)
            </td>
            <td>
                    @if (item.TtTraotangs.Count > 0 && item.Chiendiches.Count >0)
                    {
                        <span class="text-danger">Đã mở chiến dịch và trao tặng</span>
                    }else if(item.Chiendiches.Count > 0)
                    {
                        <span class="text-danger">Đã mở chiến dịch</span>
                    }
                    else if(item.TtTraotangs.Count > 0) 
                    {
                        <span class="text-danger">Đã có hỗ trợ</span>


                    }
                    else
                    {
                        <span>@Html.DisplayFor(modelItem => item.TrangthaiNht)</span>
                    }
            </td>
            <td>
                    <img src="@Url.Content("~/Content/images/noihotro/"+item.AnhNth)" width="120" height="100" style=" border-radius:15px; border-style:outset " />
            </td>
            <td>
                    
                     @Html.DisplayFor(modelItem => item.MaMtqNavigation.HotenMtq)
            </td>
                <td align="right" width="100px">

                    @if (item.TtTraotangs.Count == 0 && item.TrangthaiNht.Trim() == "Đã duyệt" && item.Chiendiches.Count == 0)
                    {
                        <input type="button" style="width:115px;" class="btn btn-primary" value="Cập nhật" onclick="location.href='@Url.Action("Edit", new { id = item.Manoi })'" />
                        <input type="button" style="width:115px;" class="btn btn-success" value="Mở chiến dịch" onclick="location.href='@Url.Action("Create","ChienDiches", new { id = item.Manoi })'" />
                        <input type="button" style="width:115px;" class="btn btn-success" value="Thêm hỗ trợ" onclick="location.href='@Url.Action("Create","TtTraotangs", new { manoi = item.Manoi })'" />
                    }
                    else if (item.TtTraotangs.Count == 0 && item.Chiendiches.Count == 0)
                    {
                        <input type="button" style="width:115px;" class="btn btn-primary" value="Cập nhật" onclick="location.href='@Url.Action("Edit", new { id = item.Manoi })'" />
                    }
                    else{
                        <input type="button" style="width:115px;" class="btn btn-secondary" value="Chi tiết" onclick="location.href='@Url.Action("Details", new { id = item.Manoi })'" />
                        <input type="button" style="width:115px;" class="btn btn-success" value="Mở chiến dịch" onclick="location.href='@Url.Action("Create","ChienDiches", new { id = item.Manoi })'" />
                        <input type="button" style="width:115px;" class="btn btn-success" value="Thêm hỗ trợ" onclick="location.href='@Url.Action("Create","TtTraotangs", new { manoi = item.Manoi })'" />
                        }

                </td>
        </tr>
}
    </tbody>
</table>
