@model LuanVan.Data.HienVat

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Hiện vật</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Loại hiện vật
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaLoaiNavigation.DienGiai)
        </dd>
        <dt class = "col-sm-2">
            Tên hiện vật
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenHv)
        </dd>
        <dt class = "col-sm-2">
          Đơn vị tính
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Donvitinh)
        </dd>
        <dt class = "col-sm-2">
          Số lượng còn
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soluongcon)
        </dd>
        <dt class = "col-sm-2">
           Giá
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaHv" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Về danh sách</a>
    </form>
</div>
