@model LuanVan.Data.HienVat

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HienVat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenHv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenHv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Donvitinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Donvitinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soluongcon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soluongcon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLoaiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLoaiNavigation.MaLoai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaHv">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
