@model IEnumerable<LuanVan.Data.HienVat>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        font-size: 16px;
        text-align: center;
    }

    th, td {
        padding: 12px;
        text-align: left;
    }

    th {
        background-color: #F7F7F7;
        font-weight: bold;
    }

    td {
        background-color: #FFFFFF;
    }

    tr:nth-child(even) td {
        background-color: #F2F2F2;
    }

    tr:hover td {
        background-color: #EFEFEF;
    }

    a {
        color: #007BFF;
        text-decoration: none;
    }

    .btn {
        padding: 10px;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        color: #FFFFFF;
        cursor: pointer;
    }

    .btn-primary {
        background-color: #007BFF;
    }

    .btn-danger {
        background-color: #DC3545;
    }

    .btn-secondary {
        background-color: #6C757D;
    }

        .btn-primary:hover, .btn-secondary:hover, .btn-danger:hover {
            opacity: 0.8;
        }
</style>
<h1>Danh sách hiện vật</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
              Loại hiện vật
            </th>
            <th>
                Tên hiện vật
            </th>
            <th>
                Số lượng còn
            </th>
            <th>
               Đơn vị tính
            </th>
           <th>Giá</th>
            <th>
                Tổng giá trị ước tính
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaLoaiNavigation.DienGiai)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenHv)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Soluongcon)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Donvitinh)
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Gia) <a style="color:black">VNĐ</a>
            </td>
            <td>
                    @( item.Gia *  item.Soluongcon) <a style="color:black">VNĐ</a>
            </td>
            
            <td>
                    @if (item.TtTraotangs.Count > 0 || item.TtQuyengopHienvats.Count > 0)
                    {
                        <input type="button" style="width:90px;" class="btn btn-primary" value="Sửa" onclick="location.href='@Url.Action("Edit", new { id = item.MaHv})'" />
                    }
                    else
                    {
                        <input type="button" style="width:90px;" class="btn btn-primary" value="Sửa" onclick="location.href='@Url.Action("Edit", new { id = item.MaHv })'" />
                        @*<input type = "button" style="width:90px" class="btn btn-secondary" value="Chi tiết" onclick="location.href='@Url.Action("Details", new { id = item.MaCd })'" />*@
                        <input type="button" style="width:90px" class="btn btn-danger" value="Xóa" onclick="location.href='@Url.Action("Delete", new { id = item.MaHv})'" />
                    }
            </td>
        </tr>
}
    </tbody>
</table>
