@model LuanVan.Data.TtQuyengopHienvat

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1>Xóa đăng ký quyên góp</h1>

<h3>Bạn chắc chắn muốn xóa?</h3>
<div>
    <h4>Thông tin quyên góp hiện vật</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Người quyên góp
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaMtqNavigation.HotenMtq)
        </dd>
        <dt class="col-sm-2">
            Chiến dịch
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaCdNavigation.TenCd)
        </dd>
        <dt class="col-sm-2">
            Hiện vật
        </dt>
       
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaHvNavigation.TenHv)
        </dd>
        <dt class="col-sm-2">
            Số lượng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoluongQg)<a style="color:black"> @Model.MaHvNavigation.Donvitinh</a>
        </dd>
        <dt class = "col-sm-2">
           Ghi chú
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
        
        <dt class = "col-sm-2">
          Trạng thái
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangthaiHv)
        </dd>
        <dt class = "col-sm-2">
          Ngày quyên góp
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayQg)
        </dd>
       
       
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaQghv" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Về danh sách</a>
    </form>
</div>
