@model LuanVan.Data.TtQuyengopHienvat

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1>Details</h1>

<div>
    <h4>TtQuyengopHienvat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoluongQg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoluongQg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangthaiHv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangthaiHv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayQg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayQg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaCdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaCdNavigation.MaCd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHvNavigation.MaHv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaMtqNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaMtqNavigation.MaMtq)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaQghv">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
