@model IEnumerable<LuanVan.Data.TtQuyengopHienvat>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1>Thông tin quyên góp hiện vật</h1>
<hr />
<h2>@ViewBag.thongbao</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Mạnh thường quân
            </th>
            <th>
                Chiến dịch
            </th>
            <th>
                Hiện vật
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Giá trị ước tính
            </th>
            <th>
                Ngày quyên góp
            </th>
            <th>
                Ghi chú
            </th>
            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaMtqNavigation.HotenMtq)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaCdNavigation.TenCd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaHvNavigation.TenHv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoluongQg)<a style="color:black"> @item.MaHvNavigation.Donvitinh</a>
                </td>
                <td>
                    @(item.MaHvNavigation.Gia * item.SoluongQg) <a style="color:black">VNĐ</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayQg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ghichu)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TrangthaiHv)
                </td>

                <td align="right" width="100px">

                    @if (item.MaMtqNavigation.MaMtq == Context.Session.GetInt32("idmtq") && item.TrangthaiHv.Trim() == "Chưa nhận")
                    {
                        <input type="button" style="width:90px;" class="btn btn-primary" value="Sửa" onclick="location.href='@Url.Action("Edit", new { id = item.MaQghv })'" />
                        <input type="button" style="width:90px" class="btn btn-danger" value="Xóa" onclick="location.href='@Url.Action("Delete", new { id = item.MaQghv })'" />

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
