@using LuanVan.Data;
@model IEnumerable<LuanVan.Data.TtQuyengopHienvat>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h1 {
        font-family: Arial, sans-serif;
 font-size:29px;
 text-align:center;
    }

    /* Thiết lập màu nền và khoảng cách cho thẻ p */
    p {
        background-color: #f2f2f2;
        padding: 10px;
    }

    /* Thiết lập kiểu cho bảng */
    .table {
        border-collapse: collapse;
        width: 1330px;
        text-align: center;
        color: black;
        background-color: #f1f3f5;
    }

        /* Thiết lập màu nền và kiểu cho tiêu đề bảng */
        .table thead {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        /* Thiết lập màu nền và kiểu cho từng hàng trong bảng */
        .table tr {
            background-color: #ffffff;
            height: 100px;
           
        }

    .table-heading {
        text-align: center;
    }
    /* Thiết lập kiểu cho các ô trong bảng */
    .table td, .table th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
        
    }

    /* Thiết lập kiểu cho các liên kết */
    a {
        color: #337ab7;
        text-decoration: none;
    }

        /* Thiết lập kiểu cho liên kết khi rê chuột vào */
        a:hover {
            text-decoration: underline;
        }

    .btn2 {
        background-color: #2487ce;
        color: aliceblue;
    }

        .btn:hover {
            box-shadow: 0px 0px 5px 5px #789;
            background-color: aliceblue;
            color: #2487ce;
        }

    .rowseach p {
        display: inline-block;
        margin-right: 10px;
    }
</style>
<br />

<h1>Thông Tin Quyên Góp Hiện Vật</h1>
<br />
@using (Html.BeginForm())
{
    <div class="rowseach">
        <form asp-action="index" method="get" class="form-inline">
             @if(Context.Session.GetInt32("idmtq") != null)
            {
                <p> <select name="tt" class="form-control" asp-items="@ViewBag.tt" onchange="this.form.submit()"></select></p>
            }
           
            <p><i class='bx bx-search-alt'></i>: <input type="text" name="SearchString" placeholder="Nhập tên người quyên góp" /></p>
            <p>Từ: <input type="date" name="tu" /></p>
            <p>Đến: <input type="date" name="den" /></p>

            <p><input type="submit" class="btn2" value="Tìm kiếm" /></p>

        </form>

    </div>
}
<hr />
@if (ViewBag.tb != null)
{
    <p>@ViewBag.tb</p>
}
@if (ViewBag.TuNgay != null && ViewBag.DenNgay != null)
{
    <p>Danh sách quyên góp từ ngày @ViewBag.TuNgay đến ngày @ViewBag.DenNgay</p>
}
@if (Model != null)
{
    //NienluancosoContext db = new NienluancosoContext();
    var tong = 0;
    var tongnhan = 0;
    var tongqg = 0;



    @foreach (var item in Model)
    {
        tong++;
        if (item.TrangthaiHv.Trim() == "Đã nhận" || item.TrangthaiHv.Trim() == "Đã tặng")
        {
            tongqg += (item.MaHvNavigation.Gia) * (item.SoluongQg);
            tongnhan++;
        }
    }

    <table width="100%">
        <tr style="text-align:center">
            <td width="45%"><b style="font-size:20px">Tổng số lượng đăng ký quyên góp: @tong lượt; Đã nhận: @tongnhan lượt</b></td>
            <td width="10%"></td>
            <td width="45%"><b style="font-size:20px">Tổng giá trị quyên góp đã nhận:  @Html.FormatValue(tongqg, "{0:#,###}") VNĐ</b></td>
        </tr>
    </table>

   


}
<table class="table">
    <thead>
        
        <tr>
            <th>
                Mạnh thường quân
            </th>
            <th>
                Chiến dịch
            </th>
            <th>
                Hiện vật
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Giá trị ước tính
            </th>
            <th>
                Ngày quyên góp
            </th>
            <th>
                Ghi chú
            </th>
            <th>
                Trạng thái
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaMtqNavigation.HotenMtq)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaCdNavigation.TenCd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaHvNavigation.TenHv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoluongQg)<a style="color:black"> @item.MaHvNavigation.Donvitinh</a>
                </td>
                <td>
                    @(item.MaHvNavigation.Gia * item.SoluongQg) <a style="color:black">VNĐ</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayQg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ghichu)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TrangthaiHv)
                    <br>
                    @if (item.TrangthaiHv.Trim() == "Đã nhận")
                    {
                        <a>Người nhận: </a>
                  
                        <a style="font-weight:bold">@Html.DisplayFor(modelItem => item.MaTvNavigation.TenTv)</a>
                    }

                </td>

                <td align="right" width="100px">

                    @if (item.MaMtqNavigation.MaMtq == Context.Session.GetInt32("idmtq") && item.TrangthaiHv.Trim() == "Chưa nhận")
                    {
                        <input type="button" style="width:90px;" class="btn btn-primary" value="Sửa" onclick="location.href='@Url.Action("Edit", new { id = item.MaQghv })'" />
                        <input type="button" style="width:90px; padding-top:5px; padding-bottom:5px" class="btn btn-danger" value="Xóa" onclick="location.href='@Url.Action("Delete", new { id = item.MaQghv })'" />

                    }
                    <input type="button" style="width:90px" class="btn btn-secondary" value="Chi tiết" onclick="location.href='@Url.Action("Details", new { id = item.MaQghv })'" />
                </td>
            </tr>
        }
    </tbody>
</table>
