@model LuanVan.Data.TtQuyengopHienvat

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TtQuyengopHienvat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ghichu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoluongQg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoluongQg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangthaiHv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangthaiHv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayQg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayQg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaCdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaCdNavigation.MaCd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHvNavigation.MaHv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaMtqNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaMtqNavigation.MaMtq)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaQghv" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
