@model IEnumerable<LuanVan.Data.TtQuyengopHienvat>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    h1 {
        font-family: Arial, sans-serif;
        font-size: 24px;
    }

    /* Thiết lập màu nền và khoảng cách cho thẻ p */
    p {
        background-color: #f2f2f2;
        padding: 10px;
    }

    /* Thiết lập kiểu cho bảng */
    .table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
    }

        /* Thiết lập màu nền và kiểu cho tiêu đề bảng */
        .table thead {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        /* Thiết lập màu nền và kiểu cho từng hàng trong bảng */
        .table tr {
            background-color: #ffffff;
        }

    .table-heading {
        text-align: center;
    }
    /* Thiết lập kiểu cho các ô trong bảng */
    .table td, .table th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    /* Thiết lập kiểu cho các liên kết */
    a {
        color: #337ab7;
        text-decoration: none;
    }

        /* Thiết lập kiểu cho liên kết khi rê chuột vào */
        a:hover {
            text-decoration: underline;
        }

    .btn {
        align-items: center;
        margin: 5px;
    }

    .rowseach p {
        display: inline-block;
        margin-right: 10px;
    }
</style>


@using (Html.BeginForm())
{
    <div class="rowseach">
        <form asp-action="index" method="get" class="form-inline">
            <p style="font-size:20px"><i class='bx bx-search-alt'></i>Nhập mã quyên góp: </p>
            <p><input type="number" name="SearchString" /></p>
            <p>Từ: <input type="date" name="tu" /></p>
            <p>Đến: <input type="date" name="den" /></p>

            <p><input type="submit" class="btn-success" value="Tìm kiếm" /></p>

        </form>
        <form asp-action="Export" method="post" enctype="multipart/form-data" style="display: inline-block; margin-left: 10px;">
            <input type="hidden" name="GridHtml" />
            <input type="submit" value="Xuất File" id="btnSubmit" class="btn btn-secondary" />
        </form>
    </div>
}
<div id="Grid">
    <h1>Danh sách quyên góp</h1>
    @if (ViewBag.tb != null)
    {
        <p>@ViewBag.tb</p>
    }
    @if (ViewBag.TuNgay != null && ViewBag.DenNgay != null)
    {
        <p>Danh sách quyên góp từ ngày @ViewBag.TuNgay đến ngày @ViewBag.DenNgay</p>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    Mã quyên góp
                </th>
                <th>
                    Mạnh thường quân
                </th>
                <th>
                    Chiến dịch
                </th>
                <th>
                    Hiện vật
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Giá trị ước tính
                </th>
                <th>
                    Ngày quyên góp
                </th>
                <th>
                    Ghi chú
                </th>
                <th>
                    Trạng thái
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.MaQghv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaMtqNavigation.HotenMtq)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaCdNavigation.TenCd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaHvNavigation.TenHv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoluongQg)<a style="color:black"> @item.MaHvNavigation.Donvitinh</a>
                    </td>
                    <td>
                        @(item.MaHvNavigation.Gia * item.SoluongQg) <a style="color:black">VNĐ</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayQg)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ghichu)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.TrangthaiHv)
                        <br>
                        @if (item.TrangthaiHv.Trim() == "Đã nhận")
                        {
                            <a>Người nhận: </a>

                            <a style="font-weight:bold">@Html.DisplayFor(modelItem => item.MaTvNavigation.TenTv)</a>
                        }

                    </td>

                    <td align="right" width="100px">

                        @if (item.TrangthaiHv.Trim() == "Chưa nhận" || item.MaTv == Context.Session.GetInt32("idtv"))
                        {
                            <input type="button" style="width:90px;" class="btn btn-primary" value="Cập nhật" onclick="location.href='@Url.Action("Edit", new { id = item.MaQghv })'" />
                        }



                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
        });
    });
</script>