@model LuanVan.Data.TtTraotang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TtTraotang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoluongTt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoluongTt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaytang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaytang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnhTt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnhTt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaCdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaCdNavigation.MaCd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHvNavigation.MaHv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaTvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaTvNavigation.MaTv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManoiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManoiNavigation.Manoi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaTt">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
