@using LuanVan.Data;
@using Microsoft.EntityFrameworkCore;

@model IEnumerable<LuanVan.Data.TtTraotang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<style>
    h1 {
        font-family: Arial, sans-serif;
        font-size: 24px;
    }

    /* Thiết lập màu nền và khoảng cách cho thẻ p */
    p {
        background-color: #f2f2f2;
        padding: 10px;
    }

    /* Thiết lập kiểu cho bảng */
    .table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
    }

        /* Thiết lập màu nền và kiểu cho tiêu đề bảng */
        .table thead {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        /* Thiết lập màu nền và kiểu cho từng hàng trong bảng */
        .table tr {
            background-color: #ffffff;
        }

    .table-heading {
        text-align: center;
    }
    /* Thiết lập kiểu cho các ô trong bảng */
    .table td, .table th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    /* Thiết lập kiểu cho các liên kết */
    a {
        color: #337ab7;
        text-decoration: none;
    }

        /* Thiết lập kiểu cho liên kết khi rê chuột vào */
        a:hover {
            text-decoration: underline;
        }

    .rowseach p {
        display: inline-block;
        margin-right: 10px;
    }

    .btn {
        align-items: center;
        margin: 5px;
    }
</style>

<br />
<h1>Danh sách trao tặng của tổ chức</h1>
@using (Html.BeginForm())
{
    <div class="rowseach">
        <form asp-action="index" method="get" class="form-inline">

            <p style="font-size:20px"><i class='bx bx-search-alt'></i>Nhập địa chỉ: </p>
            <p><input type="text" name="SearchString" /></p>
            <p>Từ: <input type="date" name="tu" /></p>
            <p>Đến: <input type="date" name="den" /></p>

            <p><input type="submit" class="btn btn-primary" value="Tìm kiếm" /></p>

        </form>

    </div>
}
@if (ViewBag.tb != null)
{
    <p>@ViewBag.tb</p>
}
@if (ViewBag.TuNgay != null && ViewBag.DenNgay != null)
{
    <p>Danh sách trao tặng từ ngày @ViewBag.TuNgay đến ngày @ViewBag.DenNgay</p>
}@if (Model != null)
{
    NienluancosoContext db = new NienluancosoContext();
    var tong = 0;

    var tongtt = 0;



    @foreach (var item in Model)
    {
        tong++;
        @if (item.MaHv != null)
        {
            tongtt += item.MaHvNavigation.Gia * item.SoluongTt;
        }
        else if (item.MaCd != null)
        {



            var listChienDich = db.TtQuyengopHienvats.Include(t => t.MaHvNavigation).Where(t => t.MaCd == item.MaCd).ToList();

            @foreach (var item2 in listChienDich)
            {
                if (item2.TrangthaiHv.Trim() == "Đã tặng")
                {
                    tongtt += (item2.MaHvNavigation.Gia) * (item2.SoluongQg);
                }
            }

        }


    }
    <br />
    <table class="table">
        <tr>
            <b>Tổng số lượt trao tặng: @tong lượt, tổng giá trị trao tặng:  @Html.FormatValue(tongtt, "{0:#,###}") VNĐ</b>
        </tr>
    </table>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Nơi tặng
            </th>
            <th>
                Chiến dịch
            </th>
            <th>
                Hiện vật
            </th>
            <th>
                Số lượng
            </th>
            <th>Giá trị ước tính</th>
            <th>
                Ngày tặng
            </th>
            <th>
                Hình ảnh trao tặng
            </th>


            <th>
                Người chịu trách nhiệm
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ManoiNavigation.Diachi)
                </td>
                <td>
                    @if (item.MaCd == null)
                    {
                        <span>Kho hiện vật</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.MaCdNavigation.TenCd)
                    }

                </td>
                <td>
                    @if (item.MaHv == null)
                    {
                        <span>Hiện vât đã nhận của chiến dịch</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.MaHvNavigation.TenHv)
                    }

                </td>
                <td>
                    @if (item.MaHv != null)
                    {
                        <span>
                            @Html.DisplayFor(modelItem => item.SoluongTt) <a style="color:black"> @item.MaHvNavigation.Donvitinh</a>
                        </span>
                    }
                    else
                    {
                        <span>Tất cả</span>
                    }
                </td>
                <td style="color:black;">
                    @if (item.MaHv != null)
                    {
                        @Html.FormatValue(item.MaHvNavigation.Gia * item.SoluongTt, "{0:#,###}")

                        <a>VNĐ</a>

                    }
                    else if (item.MaCd != null)
                    {
                        NienluancosoContext db = new NienluancosoContext();

                        var tongqg = 0;

                        var listChienDich = db.TtQuyengopHienvats.Include(t => t.MaHvNavigation).Where(t => t.MaCd == item.MaCd).ToList();

                        @foreach (var item2 in listChienDich)
                        {
                            if (item2.TrangthaiHv.Trim() == "Đã nhận" || item2.TrangthaiHv.Trim() == "Đã tặng")
                            {
                                tongqg += (item2.MaHvNavigation.Gia) * (item2.SoluongQg);
                            }
                        }


                        <a>  @Html.FormatValue(tongqg, "{0:#,###}") VNĐ</a>

                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ngaytang)
                </td>
                <td>
                    <img src="@Url.Content("~/Content/images/traotang/"+item.AnhTt)" width="100" height="80" style="margin-left:10px; border-radius:15px; border-style:outset " />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.MaTvNavigation.TenTv)
                </td>


            </tr>
        }
    </tbody>
</table>

@*<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="bg-image rounded-6"
                 style="
             height: 200px;
             background-size: cover;
             background-position: center center;
             background-image: url('@Url.Content("~/Content/images/traotang/"+item.AnhTt)');
            ">
                <div class="bottom-0 d-flex align-items-end h-100 text-center justify-content-center"
                     style="background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0));">
                    <div>
                        <span class="fw-bold text-white">
                            @item.ManoiNavigation.Diachi
                        </span>
                        <h5 class="fw-bold text-white mb-4 pr-1 pl-1">
                            //
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        @if((Model.IndexOf(item) + 1) % 3 == 0) 
        {
            </div><div class="row">
        }
    }
</div>*@
@*@foreach (var item in Model)
{
    <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="bg-image rounded-6"
             style="
         height: 200px;
         background-size: cover;
         background-position: center center;
         background-image: url('@Url.Content("~/Content/images/traotang/"+item.AnhTt)');
        ">
            <div class="bottom-0 d-flex align-items-end h-100 text-center justify-content-center"
                 style="background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0));">
                <div>
                    <span class="fw-bold text-white">
                        <?= number_format($item->price, 0, '', ',') ?>
                        VND
                    </span>
                    <h5 class="fw-bold text-white mb-4 pr-1 pl-1">
                        {{ $item->name }}
                    </h5>
                </div>
            </div>
        </div>
    </div>
}*@