@model LuanVan.Data.Thanhvien

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Thanhvien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenTv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenTv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioitinhTv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioitinhTv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiachiTv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiachiTv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SdtTv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SdtTv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailTv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailTv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatkhauTv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatkhauTv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaCvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaCvNavigation.MaCv)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaTv" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
