@model LuanVan.Data.Thanhvien

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Xóa </h1>

<h3>Bạn chắc chắn muông xóa?</h3>
<div>
    <h4>Thành viên</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Họ tên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenTv)
        </dd>
        <dt class = "col-sm-2">
            Giới tính
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioitinhTv)
        </dd>
        <dt class = "col-sm-2">
            Địa chỉ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiachiTv)
        </dd>
        <dt class = "col-sm-2">
           Số điện thoại
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SdtTv)
        </dd>
        <dt class = "col-sm-2">
          Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailTv)
        </dd>
        
        <dt class = "col-sm-2">
            Chức vụ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaCvNavigation.TenCv)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaTv" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Về danh sách</a>
    </form>
</div>
