@model LuanVan.Data.Thanhvien

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Thông tin</h1>
<h1 class="text-danger">@ViewBag.thongbao </h1>
<div>
    <h4>Thành viên</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
          Họ tên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenTv)
        </dd>
        <dt class = "col-sm-2">
           Giới tính
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioitinhTv)
        </dd>
        <dt class = "col-sm-2">
          Địa chỉ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiachiTv)
        </dd>
        <dt class = "col-sm-2">
           Số điện thoại
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SdtTv)
        </dd>
        <dt class = "col-sm-2">
          Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailTv)
        </dd>
        <dt class = "col-sm-2">
            Mật khẩu
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatkhauTv)
        </dd>
        <dt class = "col-sm-2">
           Chức vụ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaCvNavigation.TenCv)
        </dd>
    </dl>
</div>
<div>
    <input type="button" style="width:90px;" class="btn btn-primary" value="Sửa" onclick="location.href='@Url.Action("Edit2", new { id = Model.MaTv })'" />
   
</div>
