@model LuanVan.Data.Thanhvien

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Thanhvien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenTv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenTv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioitinhTv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioitinhTv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiachiTv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiachiTv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SdtTv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SdtTv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailTv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailTv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatkhauTv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatkhauTv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaCvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaCvNavigation.MaCv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaTv">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
