@model IEnumerable<LuanVan.Data.Thanhvien>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách thành viên của tổ chức</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Thêm thành viên mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Họ tên
            </th>
            <th>
                Giới tính
            </th>
            <th>
               Địa chỉ
            </th>
            <th>
               Số điện thoại
            </th>
            <th>
               Email
            </th>
           
            <th>
              Chức vụ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenTv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioitinhTv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiachiTv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SdtTv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailTv)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.MaCvNavigation.TenCv)
            </td>
            <td>
                    @if(item.TtTraotangs.Count > 0 || item.TtQuyengopHienvats.Count> 0 || item.Chiendiches.Count > 0)
                    {
                        <input type="button" style="width:90px;" class="btn btn-primary" value="Sửa" onclick="location.href='@Url.Action("Edit", new { id = item.MaTv })'" />
                    }else{

                   
                    <input type="button" style="width:90px;" class="btn btn-primary" value="Sửa" onclick="location.href='@Url.Action("Edit", new { id = item.MaTv })'" />
                   
                    <input type="button" style="width:90px" class="btn btn-danger" value="Xóa" onclick="location.href='@Url.Action("Delete", new { id = item.MaTv })'" />
                    }
            </td>
        </tr>
}
    </tbody>
</table>
