@model LuanVan.Data.Noihotro

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa đề xuất</h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Nơi đề xuất</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Người đề xuất
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaMtqNavigation.HotenMtq)
        </dd>
        <dt class = "col-sm-2">
            Địa chỉ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
        <dt class = "col-sm-2">
           Tình trạng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tinhtrang)
        </dd>
        <dt class = "col-sm-2">
            Cần hỗ trợ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Canhotro)
        </dd>
        <dt class = "col-sm-2">
           Trạng thái
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangthaiNht)
        </dd>
        <dt class = "col-sm-2">
            Hình ảnh
        </dt>
        <dd class = "col-sm-10">
            <img src="@Url.Content("~/Content/images/noihotro/"+Model.AnhNth)" width="120" height="100" style=" border-radius:15px; border-style:outset " />
        </dd>
       
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Manoi" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Về danh sách</a>
    </form>
</div>
