@model LuanVan.Data.Noihotro

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Noihotro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tinhtrang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tinhtrang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Canhotro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Canhotro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangthaiNht)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangthaiNht)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnhNth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnhNth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaMtqNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaMtqNavigation.MaMtq)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Manoi">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
