@model X.PagedList.IPagedList<LuanVan.Data.Noihotro>
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<style>
    h1 {
        font-family: Arial, sans-serif;
        font-size: 29px;
        text-align: center;
    }

    /* Thiết lập màu nền và khoảng cách cho thẻ p */
    p {
        background-color: #f2f2f2;
        padding: 10px;
    }

    /* Thiết lập kiểu cho bảng */
    .table {
        border-collapse: collapse;
        width: 1330px;
        text-align: center;
        color: #6c757d;
        background-color: #f1f3f5;
    }

        /* Thiết lập màu nền và kiểu cho tiêu đề bảng */
        .table thead {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        /* Thiết lập màu nền và kiểu cho từng hàng trong bảng */
        .table tr {
            background-color: #ffffff;
        }

    .table-heading {
        text-align: center;
    }
    /* Thiết lập kiểu cho các ô trong bảng */
    .table td, .table th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    /* Thiết lập kiểu cho các liên kết */
    a {
        color: #337ab7;
        text-decoration: none;
    }

        /* Thiết lập kiểu cho liên kết khi rê chuột vào */
        a:hover {
            text-decoration: underline;
        }

    .btn {
        align-items: center;
        margin: 5px;
    }

    .rowseach p {
        display: inline-block;
        margin-right: 10px;
    }

    
    .pagination-container li {
        font-size: 25px;
        margin-left: 10px;
        margin-right: 10px;
        
    }
    
</style>
<h1>Danh Sách Đề Xuất Hỗ Trợ</h1>
<br />
@using (Html.BeginForm())
{
    <div class="rowseach">
        <p>
            <input type="button" style="width:120px;" class="btn btn-success" value="Thêm đề xuất" onclick="location.href='@Url.Action("Create")'" />
        </p>
        <form asp-action="index" method="get" class="form-inline">
            @if(Context.Session.GetInt32("idmtq") != null)
            {
                <p> <select name="tt" class="form-control" asp-items="@ViewBag.tt" onchange="this.form.submit()"></select></p>
            }
          
            <p><input type="text" name="SearchString" placeholder="Nhập địa chỉ" /></p>


            <p><input type="submit" class="btn btn-primary" value="Tìm kiếm" /></p>

        </form>

    </div>
}

@if (ViewBag.tb != null)
{
    <p style="font-size:20px"><b>@ViewBag.tb</b></p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Địa chỉ
            </th>
            <th>
                Tình trạng
            </th>
            <th>
                Cần hỗ trợ
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Người đề xuất
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Diachi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tinhtrang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Canhotro)
                </td>
                <td>
                    <img src="@Url.Content("~/Content/images/noihotro/"+item.AnhNth)" width="120" height="100" style=" border-radius:15px; border-style:outset " />
                </td>
                <td>
                    @if (item.TtTraotangs.Count > 0 && item.Chiendiches.Count > 0)
                    {
                        <span>Đã mở chiến dịch và trao tặng</span>
                    }
                    else if (item.Chiendiches.Count > 0)
                    {
                        <span>Đã mở chiến dịch</span>
                    }
                    else if (item.TtTraotangs.Count > 0)
                    {
                        <span>Đã có hỗ trợ</span>


                    }
                    else
                    {
                        <span>@Html.DisplayFor(modelItem => item.TrangthaiNht)</span>
                    }

                </td>

                <td>
                    
                       @Html.DisplayFor(modelItem => item.MaMtqNavigation.HotenMtq)

                </td>

                <td align ="right" width="100px">

                    @if (item.MaMtqNavigation.MaMtq == Context.Session.GetInt32("idmtq") && item.TrangthaiNht.Trim() == "Chưa duyệt" && item.TtTraotangs.Count == 0 && item.Chiendiches.Count ==0)
                    {
                        <input type="button" style="width:90px" class="btn btn-secondary" value="Chi tiết" onclick="location.href='@Url.Action("Details", new { id = item.Manoi })'" />
                        <input type="button" style="width:90px;" class="btn btn-primary" value="Sửa" onclick="location.href='@Url.Action("Edit", new { id = item.Manoi })'" />
                        <input type="button" style="width:90px" class="btn btn-danger" value="Xóa" onclick="location.href='@Url.Action("Delete", new { id = item.Manoi })'" />
                    }
                    else if (item.MaMtqNavigation.MaMtq == Context.Session.GetInt32("idmtq") &&  item.TrangthaiNht.Trim() == "Đã duyệt" && item.TtTraotangs.Count == 0 && item.Chiendiches.Count == 0)
                    {
                        <input type="button" style="width:90px" class="btn btn-secondary" value="Chi tiết" onclick="location.href='@Url.Action("Details", new { id = item.Manoi })'" />
                       
                        <input type="button" style="width:90px" class="btn btn-danger" value="Xóa" onclick="location.href='@Url.Action("Delete", new { id = item.Manoi })'" />
                    }
                    else
                    {
                        <input type="button" style="width:90px" class="btn btn-secondary" value="Chi tiết" onclick="location.href='@Url.Action("Details", new { id = item.Manoi })'" />
                        
                    }
                    </td>
            </tr>
        }    
    </tbody>
</table>
<div>
    @Html.PagedListPager(Model,page=>Url.Action("index","Noihotroes", new{page = page}))
</div>

