@model IEnumerable<LuanVan.Data.Noihotro>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>Đề xuất hỗ trợ</h1>

<p>
    <input type="button" style="width:120px;" class="btn btn-success" value="Thêm đề xuất" onclick="location.href='@Url.Action("Create")'" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Địa chỉ
            </th>
            <th>
                Tình trạng
            </th>
            <th>
                Cần hỗ trợ
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Người đề xuất
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Diachi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tinhtrang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Canhotro)
                </td>
                <td>
                    <img src="@Url.Content("~/Content/images/noihotro/"+item.AnhNth)" width="120" height="100" style=" border-radius:15px; border-style:outset " />
                </td>
                <td>
                    @if (item.TtTraotangs.Count > 0 && item.Chiendiches.Count > 0)
                    {
                        <span>Đã mở chiến dịch và trao tặng</span>
                    }
                    else if (item.Chiendiches.Count > 0)
                    {
                        <span>Đã mở chiến dịch</span>
                    }
                    else if (item.TtTraotangs.Count > 0)
                    {
                        <span>Đã có hỗ trợ</span>


                    }
                    else
                    {
                        <span>@Html.DisplayFor(modelItem => item.TrangthaiNht)</span>
                    }

                </td>

                <td>
                    
                       @Html.DisplayFor(modelItem => item.MaMtqNavigation.HotenMtq)

                </td>

                <td align ="right" width="100px">

                    @if (item.MaMtqNavigation.MaMtq == Context.Session.GetInt32("idmtq") && item.TrangthaiNht.Trim() == "Đã duyệt" && item.TtTraotangs.Count == 0 && item.Chiendiches.Count ==0)
                    {

                        <input type="button" style="width:90px" class="btn btn-danger" value="Xóa" onclick="location.href='@Url.Action("Delete", new { id = item.Manoi })'" />
                    }
                    else if (item.MaMtqNavigation.MaMtq == Context.Session.GetInt32("idmtq") && item.TtTraotangs.Count == 0)
                    {
                        <input type="button" style="width:90px;" class="btn btn-primary" value="Sửa" onclick="location.href='@Url.Action("Edit", new { id = item.Manoi })'" />
                        <input type="button" style="width:90px" class="btn btn-danger" value="Xóa" onclick="location.href='@Url.Action("Delete", new { id = item.Manoi })'" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
