@model LuanVan.Data.Manhthuongquan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thông tin chi tiết</h1>

<div>
    <h4>Người dùng</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Họ Tên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotenMtq)
        </dd>
        <dt class = "col-sm-2">
           Giới tính
        </dt>
        <dd class = "col-sm-10">
            @if(Model.GioitinhMtq.Trim() != "Nam")
            {
                <a>Nữ</a>
            }else{
                @Html.DisplayFor(model => model.GioitinhMtq)
            }
            
        </dd>
        <dt class = "col-sm-2">
            Đơn vị/tổ chức
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonviTochucMtq)
        </dd>
        <dt class = "col-sm-2">
           Số điện thoại
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SdtMtq)
        </dd>
        <dt class = "col-sm-2">
           Địa chỉ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiachiMtq)
        </dd>
        <dt class="col-sm-2">
            Mật khẩu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MatkhauMtq)
        </dd>
    </dl>
</div>
<div>
    <input type="button" style="width:90px;" class="btn btn-primary" value="Sửa" onclick="location.href='@Url.Action("Edit", new { id = Model.MaMtq })'" />
    <input type="button" style="width:110px" class="btn btn-secondary" value="Trang chủ" onclick="location.href='@Url.Action("index","Home")'" />
</div>
