@model IEnumerable<LuanVan.Data.Manhthuongquan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        font-size: 16px;
        text-align: center;
    }

    th, td {
        padding: 12px;
        text-align: left;
    }

    th {
        background-color: #F7F7F7;
        font-weight: bold;
    }

    td {
        background-color: #FFFFFF;
    }

    tr:nth-child(even) td {
        background-color: #F2F2F2;
    }

    tr:hover td {
        background-color: #EFEFEF;
    }

    a {
        color: #007BFF;
        text-decoration: none;
    }

    .btn {
        padding: 10px;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        color: #FFFFFF;
        cursor: pointer;
    }

    .btn-primary {
        background-color: #007BFF;
    }

    .btn-danger {
        background-color: #DC3545;
    }

    .btn-secondary {
        background-color: #6C757D;
    }

        .btn-primary:hover, .btn-secondary:hover, .btn-danger:hover {
            opacity: 0.8;
        }
</style>
<h1>Danh sách người dùng</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Họ tên
            </th>
           
            <th>
               Giới tính
            </th>
            <th>
                Đơn vị/tổ chức
            </th>
            <th>
               Số điện thoại
            </th>
            <th>
               Địa chỉ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HotenMtq)
            </td>
            
            <td>
                    @if(item.GioitinhMtq.Trim() != "Nam")
                    {
                        <span>Nữ</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.GioitinhMtq)
                    }
                   
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonviTochucMtq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SdtMtq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiachiMtq)
            </td>
           
        </tr>
}
    </tbody>
</table>
