@model IEnumerable<LuanVan.Data.Manhthuongquan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        font-size: 16px;
        text-align: center;
    }

    th, td {
        padding: 12px;
        text-align: left;
    }

    th {
        background-color: #F7F7F7;
        font-weight: bold;
    }

    td {
        background-color: #FFFFFF;
    }

    tr:nth-child(even) td {
        background-color: #F2F2F2;
    }

    tr:hover td {
        background-color: #EFEFEF;
    }

    a {
        color: #007BFF;
        text-decoration: none;
    }

    .btn {
        padding: 10px;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        color: #FFFFFF;
        cursor: pointer;
    }

    .btn-primary {
        background-color: #007BFF;
    }

    .btn-danger {
        background-color: #DC3545;
    }

    .btn-secondary {
        background-color: #6C757D;
    }

        .btn-primary:hover, .btn-secondary:hover, .btn-danger:hover {
            opacity: 0.8;
        }

    .rowseach p {
        display: inline-block;
        margin-right: 10px;
    }
</style>
@using (Html.BeginForm())
{
    <div class="rowseach">
        <form asp-action="index" method="get" class="form-inline">
            
            <p>Từ: <input type="date" name="tu" /></p>
            <p>Đến: <input type="date" name="den" /></p>

            <p><input type="submit" class="btn-success" value="Tìm kiếm" /></p>

        </form>
        <form asp-action="Export" method="post" enctype="multipart/form-data" style="display: inline-block; margin-left: 10px;">
            <input type="hidden" name="GridHtml" />
            <input type="submit" value="Xuất File" id="btnSubmit" class="btn btn-secondary" />
        </form>
    </div>
}
<div id="Grid">
<h1>Danh sách người dùng</h1>
@if (ViewBag.TuNgay != null && ViewBag.DenNgay != null)
{
    <p>Danh sách người dùng được sắp xếp theo số lượt đăng ký quyên góp từ ngày @ViewBag.TuNgay đến ngày @ViewBag.DenNgay</p>
}

<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>
                Họ tên
            </th>
           
            <th>
               Giới tính
            </th>
            <th>
                Đơn vị/tổ chức
            </th>
            <th>
               Số điện thoại
            </th>
            <th>
               Địa chỉ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var manhThuongQuanList = Model.ToList();
        }
        @foreach (var item in manhThuongQuanList)
        {
        <tr>
                
                <td>@{
                        var index = manhThuongQuanList.IndexOf(item) + 1;
                    } @index</td>
            <td>
                @Html.DisplayFor(modelItem => item.HotenMtq)
            </td>
            
            <td>
                    @if(item.GioitinhMtq.Trim() != "Nam")
                    {
                        <span>Nữ</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.GioitinhMtq)
                    }
                   
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonviTochucMtq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SdtMtq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiachiMtq)
            </td>
           
        </tr>
}
    </tbody>
</table>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
        });
    });
</script>