@using LuanVan.Data;
@using Microsoft.EntityFrameworkCore;
@model IEnumerable<LuanVan.Data.TtTraotang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    h1 {
        font-family: Arial, sans-serif;
        font-size: 24px;
    }

    /* Thiết lập màu nền và khoảng cách cho thẻ p */
    p {
        background-color: #f2f2f2;
        padding: 10px;
    }

    /* Thiết lập kiểu cho bảng */
    .table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
    }

        /* Thiết lập màu nền và kiểu cho tiêu đề bảng */
        .table thead {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        /* Thiết lập màu nền và kiểu cho từng hàng trong bảng */
        .table tr {
            background-color: #ffffff;
        }

    .table-heading {
        text-align: center;
    }
    /* Thiết lập kiểu cho các ô trong bảng */
    .table td, .table th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    /* Thiết lập kiểu cho các liên kết */
    a {
        color: #337ab7;
        text-decoration: none;
    }

        /* Thiết lập kiểu cho liên kết khi rê chuột vào */
        a:hover {
            text-decoration: underline;
        }

    .btn {
        align-items: center;
        margin: 5px;
    }

    .rowseach p {
        display: inline-block;
        margin-right: 10px;
    }
</style>
@using (Html.BeginForm())
{
    <div class="rowseach">
        <form asp-action="index" method="get" class="form-inline">
            <p>
                <a class="btn btn-primary" asp-action="Create">Thêm mới</a>
            </p>
            <p style="font-size:20px"><i class='bx bx-search-alt'></i>Nhập địa chỉ: </p>
            <p><input type="text" name="SearchString" /></p>
            <p>Từ: <input type="date" name="tu" /></p>
            <p>Đến: <input type="date" name="den" /></p>

            <p><input type="submit" class="btn-success" value="Tìm kiếm" /></p>

        </form>
        <form asp-action="Export" method="post" enctype="multipart/form-data" style="display: inline-block; margin-left: 10px;">
            <input type="hidden" name="GridHtml" />
            <input type="submit" value="Xuất File" id="btnSubmit" class="btn btn-secondary" />
        </form>
    </div>
}
<div id="Grid">
<h1>Danh sách trao tặng</h1>
@if (ViewBag.tb != null)
{
    <p>@ViewBag.tb</p>
}
@if (ViewBag.TuNgay != null && ViewBag.DenNgay != null)
{
    <p>Danh sách trao tặng từ ngày @ViewBag.TuNgay đến ngày @ViewBag.DenNgay</p>
}
    @if (Model != null)
    {
        NienluancosoContext db = new NienluancosoContext();
        var tong = 0;
       
        var tongtt = 0;



        @foreach (var item in Model)
        {
            tong++;
            @if (item.MaHv != null)
            {
                tongtt += item.MaHvNavigation.Gia * item.SoluongTt;
            }
            else if (item.MaCd != null)
            {
 
              

                var listChienDich = db.TtQuyengopHienvats.Include(t => t.MaHvNavigation).Where(t => t.MaCd == item.MaCd ).ToList();

                @foreach (var item2 in listChienDich)
                {
                    if ( item2.TrangthaiHv.Trim() == "Đã tặng")
                    {
                        tongtt += (item2.MaHvNavigation.Gia) * (item2.SoluongQg);
                    }
                }

            }
               
            
        }
        <br />
        <table class="table">
            <tr>
                <b>Tổng số lượt trao tặng: @tong lượt, tổng giá trị trao tặng:  @Html.FormatValue(tongtt, "{0:#,###}") VNĐ</b>
            </tr>
        </table>
    }
<table class="table">
    <thead>
        <tr>
                <th style=" border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;">
                Nơi tặng
            </th>
                <th style=" border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;">
                Chiến dịch
            </th>
                <th style=" border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;">
                Hiện vật
            </th>
                <th style=" border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;">
                Số lượng
            </th>
                <th style=" border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;">Giá trị ước tính</th>
                <th style=" border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;">
                Ngày tặng
            </th>
                <th style=" border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;">
                Hình ảnh trao tặng
            </th>


                <th style=" border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;">
                Người chịu trách nhiệm
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                    <td style=" border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;">
                    @Html.DisplayFor(modelItem => item.ManoiNavigation.Diachi)
                </td>
                    <td style=" border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;">
                    @if (item.MaCd == null)
                    {
                        <span>Kho hiện vật</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.MaCdNavigation.TenCd)
                    }

                </td>
                    <td style=" border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;">
                    @if (item.MaHv == null)
                    {
                        <span>Hiện vât đã nhận của chiến dịch</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.MaHvNavigation.TenHv)
                    }

                </td>
                    <td style=" border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;">
                    @if (item.MaHv != null)
                    {
                        <span>
                            @Html.DisplayFor(modelItem => item.SoluongTt) <a style="color:black"> @item.MaHvNavigation.Donvitinh</a>
                        </span>
                    }
                    else
                    {
                        <span>Tất cả</span>
                    }
                </td>
                    <td style=" border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;">
                    @if (item.MaHv != null)
                    {
                       
                            <b>  @Html.FormatValue(item.MaHvNavigation.Gia * item.SoluongTt, "{0:#,###}") VNĐ</b>
                    }
                    else if(item.MaCd != null)
                    {
                        NienluancosoContext db = new NienluancosoContext();

                        var tongqg = 0;

                        var listChienDich = db.TtQuyengopHienvats.Include(t => t.MaHvNavigation).Where(t => t.MaCd == item.MaCd).ToList();

                        @foreach (var item2 in listChienDich)
                        {
                            if (item2.TrangthaiHv.Trim() == "Đã nhận" || item2.TrangthaiHv.Trim() == "Đã tặng")
                            {
                                tongqg += (item2.MaHvNavigation.Gia) * (item2.SoluongQg);
                            }
                        }


                        <b>  @Html.FormatValue(tongqg, "{0:#,###}") VNĐ</b>

                    }

                </td>
                    <td style=" border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;">
                    @Html.DisplayFor(modelItem => item.Ngaytang)
                </td>
                    <td style=" border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;">
                    <img src="@Url.Content("~/Content/images/traotang/"+item.AnhTt)" width="100" height="80" style="margin-left:10px; border-radius:15px; border-style:outset " />
                </td>

                    <td style=" border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;">
                    @Html.DisplayFor(modelItem => item.MaTvNavigation.TenTv)
                </td>

                <td>
                    @if (item.MaTv == Context.Session.GetInt32("idtv") || Context.Session.GetInt32("cvtv") == 1 )
                    {
                        <input type="button" style="width:90px;" class="btn btn-primary" value="Sửa" onclick="location.href='@Url.Action("Edit", new { id = item.MaTt })'" />

                        <input type="button" style="width:90px" class="btn btn-danger" value="Xóa" onclick="location.href='@Url.Action("Delete", new { id = item.MaTt })'" />
                    }
                   
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
        });
    });
</script>